html
  head
    title Kirti Dance Academy
    block scripts
    block style
     
  body
  nav#navbar
    ul
        div#logo 
            img(src="/static/img/logo22.png")
            | KDA 
        li #[a(href="/") Home] 
        li #[a(href="/") about]
        li #[a(href="/") services]
        li #[a(href="/") class info]
        li #[a(href="/contact") contact us]
        
    block content
    //- footer#footer 
    //-   | Copyright © 2021 KirtiDanceAcademy.com | All rights reserved